<div id="search-bar">
  <%= form_tag search_action_url, :method => :get, :class => 'search-query-form form-inline clearfix' do %>
    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %> 

    <% unless search_fields.empty? %>
      <div class="pull-left">
        <label for="search_field" class="hide-text"><%= t('blacklight.search.form.search_field.label') %></label>
        <!-- 
        <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => t('blacklight.search.form.search_field.title'), :class=>"search_field input-small") %>
        -->
        <span class="hide-text"><%= t('blacklight.search.form.search_field.post_label') %></span>
      </div>
      <% end %>
       <div class="input-append pull-left">
        <label for="q" class="hide-text"><%= t('blacklight.search.form.q') %></label>
         <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "search_q q", :id => "q"%>
        <button type="submit" class="search-btn" id="search">
          <!-- <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span> -->
          <i class="icon-search"></i>
        </button>
       </div>
  <% end %>
	<div id="browse">
		<label>Browse: </label>
		<select id="category_browse">
			<option>Categories</option>
			<optgroup label="Categories">
				<option value="1">Cat 1</option>
				<option value="2">Cat 2</option>
				<option value="3">Cat 3</option>
			</optgroup>
		</select>
		<select id="collection_browse">
			<option value="">Collections and Series</option>
			<optgroup label="Collections">
				<option value="1">Collection 1</option>
				<option value="2">Collection 2</option>
				<option value="3">Collection 3</option>
			</optgroup>
			<optgroup label="Series">
				<option value="1">Series 1</option>
				<option value="2">Series 2</option>
				<option value="3">Series 3</option>
			</optgroup>
		</select>
	</div>
  <!--
  <div id="search" class="search">
    <%= form_tag catalog_index_path, :method => :get do %>
      <h2 class="search"><%= label_tag(:q, "Search Archive") %></h2>
      <div class="q_field">
        <%= text_field_tag :q, params[:q], :class => "q", :placeholder => "Search Archive" %>
      
      <%= hidden_field_tag :search_field, 'all_fields' %>
      <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page, :id]) %>        
      
      <%= image_submit_tag("magnifying-glass.gif", :alt => "search", :class => 'submit') %>
    </div>
    <%#= render_search_context_options %>
    <% end %>

    <hr/>
  </div>

  <div id="browse">
    <h2 class="search">Browse Archive</h2>
    <% cache("catalog_browse_categories") do %>
      <%= form_tag catalog_index_path, :method => :get, :class => 'categories' do %>
        <%#= select 'f', 'merlot_s', grouped_options_for_select({"Categories" => top_level_categories.items.map { |x| x.value.gsub('1/', '') } }), { :prompt => "Categories" }, :name => 'f[merlot_s][]' %>
        <%= submit_tag 'Browse Category' %>
      <% end# if top_level_categories %>
    <% end %>

    <% cache("catalog_browse_collections") do %>
      <%= form_tag catalog_index_path, :method => :get, :class => 'collections' do %>
        <%#= select "id", nil, grouped_options_for_select(collections_list.group_by { |x| x.get("dc_type_s") }.map { |key, values| [key.pluralize, values.map { |x| [x.get('title_display'), x.get('id')] }]}.sort_by { |x| x.first }), { :prompt => "Collections and Series" }  %>
        <%= submit_tag 'Browse collection'%>
      <% end %>
    <% end# if collections_list%>
  </div>
  -->

</div>
