<div id="search-bar">
  <%= form_tag '/catalog', :method => :get, :class => 'search-query-form form-inline' do %>
    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %> 

    <% unless search_fields.empty? %>
      <div class="pull-left">
        <label for="search_field" class="hide-text"><%= t('blacklight.search.form.search_field.label') %></label>
        <span class="hide-text"><%= t('blacklight.search.form.search_field.post_label') %></span>
      </div>
    <% end %>
    <div id="nav-s-input" class="input-append pull-left">
      <label for="q" class="hide-text"><%= t('blacklight.search.form.q') %></label>
      <%= text_field_tag :q, params[:q], :placeholder => "What are you looking for?", :class => "search_q q", :id => "q"%>
      <button type="submit" class="search-btn" id="search">
        <i class="icon-search"></i>
      </button>
    </div>
  <% end %>
	<div id="browse">
		<label>Browse: </label>
    <!-- Need to add dynamic categories and collections -->
    <%= form_tag catalog_index_path, :method => :get, :class => 'categories' do %>
      <%= select 'f', 'category_sim', grouped_options_for_select({"Categories" => top_level_categories.map { |x| x[0][:value] }, "Collections and Series" => top_level_collections, "Series" => [['Series 1', 'series-1'], ['Series 2', 'series-2']] }), { :prompt => "Select filter" }, :name => 'f[category_sim][]' %>
      <%= submit_tag 'Browse filter' %>
    <% end %>
	</div>

</div>
