<% pbcore = OpenvaultAsset.find(@document.id).pbcore %>
<div class="basic">
  <div class="source">
    <div>
      <% unless pbcore.series_title.empty? %>
        <p><strong>Series</strong> <%= pbcore.series_title.first %></p>
      <% end %>
      <% unless pbcore.program_title.empty? %>
        <p><strong>Program</strong> <%= pbcore.program_title.first %></p>
      <% end %>
      <% unless pbcore.episode_title.empty? %>
        <p><strong>Episode</strong> <%= pbcore.episode_title.first %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="advanced" style="display: block">
  <a href="#" class="more_meta">Show details</a>
</div>
<div class="advanced" style="display: none">
  <a href="#" class="more_meta">Hide details</a>
  <% unless pbcore.creator_name.blank? %>
    <div class="creators">
      <h3>Creators</h3>
      <ul>
        <% pbcore.creator_name.each_with_index do |c, idx| %>
          <li><%= c.to_s %> - <%= pbcore.creator_role[idx].to_s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# instantiations = nil %>
  <% unless pbcore.instantiations.blank? %>
    <div class="instantiation">
      <h3 class="toggler">Media</h3>
      <% pbcore.instantiations.each do |inst| %>
        <div>
          <%= inst.inspect %>
          <%#
            inst_map = {'formatDuration' => 'Duration', 'formatStandard' => 'Standard', 'formatPhysical' => 'Physical format', 'formatGenerations' => 'Type'}
           %> 

          <%# inst[:to_xml].xpath('pbcore:pbcoreFormatID[pbcore:formatIdentifierSource="wgbh.org/mars/barcode/"]/pbcore:formatIdentifier', 'pbcore' => 'http://www.pbcore.org/PBCore/PBCoreNamespace.html').map { |e| e.content }.to_a.uniq.each do |e| %>
            <div>
              <!-- <strong>Barcode</strong> -->
              <%#= e %>
            </div>
          <%# end %>

          <%# inst_map.each do |key, label| %>
            <%# inst[key].to_a.uniq.each do |e| %>
              <div><strong><%#= label %></strong> <%#= e %></div> 
            <%# end %>
          <%# end %>
        </div>
      <% end %> 
    </div>
  <% end %>

</div>
  