<% 
  asset = OpenvaultAsset.find(@document.id)
  pbcore = asset.pbcore 
%>
<div class="basic">
  <div class="source">
    <div>
      <% unless pbcore.series_title.empty? %>
        <p><strong>Series</strong> <%= pbcore.series_title.first %></p>
      <% end %>
      <% unless pbcore.program_title.empty? %>
        <p><strong>Program</strong> <%= pbcore.program_title.first %></p>
      <% end %>
      <% unless pbcore.episode_title.empty? %>
        <p><strong>Episode</strong> <%= pbcore.episode_title.first %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="advanced" style="display: block">
  <a href="#" class="more_meta">Show details</a>
</div>
<div class="advanced" style="display: none">
  <a href="#" class="more_meta">Hide details</a>
  <% unless pbcore.creator_name.blank? %>
    <div class="creators">
      <h3>Creators</h3>
      <ul>
        <% pbcore.creator_name.each_with_index do |c, idx| %>
          <li><%= c.to_s %> - <%= pbcore.creator_role[idx].to_s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<% if asset.rights_rights || asset.rights_coverage || asset.rights_credit ||
      asset.rights_holder || asset.rights_note || asset.rights_type %>
  <div>
    <h4>Rights</h4>
    
    <% if asset.rights_rights %>
      <p><strong>Rights</strong> <%= asset.rights_rights %></p>
    <% end %>

    <% if asset.rights_coverage %>
      <p><strong>Coverage</strong> <%= asset.rights_coverage %></p>
    <% end %>

    <% if asset.rights_credit %>
      <p><strong>Credit</strong> <%= asset.rights_credit %></p>
    <% end %>

    <% if asset.rights_holder %>
      <p><strong>Holder</strong> <%=
        if asset.rights_link
          link_to asset.rights_holder, asset.right_link
        else
          asset.rights_holder
        end
      %></p>
    <% end %>

    <% if asset.rights_note %>
      <p><strong>Note</strong> <%= asset.rights_note %></p>
    <% end %>

    <% if asset.rights_type %>
      <p><strong>Type</strong> <%= asset.rights_type %></p>
    <% end %>  
  </div>
<% end %>
