<div class="basic">
  <div class="source">
    <div>
      <% if @ov_asset.respond_to?(:series) && @ov_asset.series %>
        <p><strong>Series</strong>
          <%= link_to @ov_asset.series.title, @ov_asset.series %></p>
      <% end %>
      <% if @ov_asset.respond_to?(:program) && @ov_asset.program %>
        <p><strong>Program</strong> 
          <%= link_to @ov_asset.program.title, @ov_asset.program %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="advanced" style="display: block">
  <a href="#" class="more_meta">Show details</a>
</div>
<div class="advanced" style="display: none">
  <a href="#" class="more_meta">Hide details</a>
  <%
    pbcore = @ov_asset.pbcore 
  %>
  <% unless pbcore.creator_name.blank? %>
    <div class="creators">
      <h3>Creators</h3>
      <ul>
        <% pbcore.creator_name.each_with_index do |c, idx| %>
          <li><%= c.to_s %> - <%= pbcore.creator_role[idx].to_s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @ov_asset.media_dimensions || @ov_asset.media_physical || @ov_asset.media_standard || 
        @ov_asset.media_duration || @ov_asset.media_type || @ov_asset.media_barcode %>
    <div>
      <h4>Media</h4>
      
      <% if @ov_asset.media_dimensions %>
        <p><strong>Dimensions</strong> <%= @ov_asset.media_dimensions %></p>
      <% end %>
        
      <% if @ov_asset.media_physical %>
        <p><strong>Physical</strong> <%= @ov_asset.media_physical %></p>
      <% end %>
        
      <% if @ov_asset.media_standard %>
        <p><strong>Standard</strong> <%= @ov_asset.media_standard %></p>
      <% end %>
        
      <% if @ov_asset.media_duration %>
        <p><strong>Duration</strong> <%= @ov_asset.media_duration %></p>
      <% end %>
        
      <% if @ov_asset.media_type %>
        <p><strong>Type</strong> <%= @ov_asset.media_type %></p>
      <% end %>
        
      <% if @ov_asset.media_barcode %>
        <p><strong>Barcode</strong> <%= @ov_asset.media_barcode %></p>
      <% end %>
    </div>
  <% end %>
  
  <% if @ov_asset.rights_rights || @ov_asset.rights_coverage || @ov_asset.rights_credit ||
        @ov_asset.rights_holder || @ov_asset.rights_note || @ov_asset.rights_type %>
    <div>
      <h4>Rights</h4>
    
      <% if @ov_asset.rights_rights %>
        <p><strong>Rights</strong> <%= @ov_asset.rights_rights %></p>
      <% end %>

      <% if @ov_asset.rights_coverage %>
        <p><strong>Coverage</strong> <%= @ov_asset.rights_coverage %></p>
      <% end %>

      <% if @ov_asset.rights_credit %>
        <p><strong>Credit</strong> <%= @ov_asset.rights_credit %></p>
      <% end %>

      <% if @ov_asset.rights_holder %>
        <p><strong>Holder</strong> <%= @ov_asset.rights_holder %></p>
      <% end %>

      <% if @ov_asset.rights_note %>
        <p><strong>Note</strong> <%= @ov_asset.rights_note %></p>
      <% end %>

      <% if @ov_asset.rights_type %>
        <p><strong>Type</strong> <%= @ov_asset.rights_type %></p>
      <% end %>
      
      <% if @ov_asset.rights_link %>
        <p><%= @ov_asset.rights_link %></p>
      <% end %> 
    </div>
  <% end %>
</div>
