<%
#source_credits = '' 
pbcore = OpenvaultAsset.find(@document.id).pbcore
%>
<div class="pbcore-metadata">
  <div class="source">
    <%# unless  pbcore.titles.reject { |type, value| value == document.get(:title_display) }.empty? and pbcore.publishers.reject{|type, value| value == 'WGBH Educational Foundation' }.empty? %>
    <h3 class="toggler">Source</h3>
    <div>
      <% unless pbcore.episode.empty? %>
      <div><strong>Episode</strong> <%= pbcore.episode.first %></div>
      <% end %>
      <% unless pbcore.title.empty? %>
      <div><strong>Program</strong> <%= pbcore.title.first %></div>
      <% end %>
      <% unless pbcore.series.empty? %>
      <div><strong>Series</strong> <%= pbcore.series.first %></div>
      <% end %>
      <% pbcore.publisher.reject.each_with_index do |pub, idx| %>
        <% unless pbcore.publisher_name[idx] == 'WGBH Educational Foundation' %>
          <div><strong><%= pbcore.publisher_role[idx] %></strong>
            <%= pbcore.publisher_name[idx] %>
          </div>
        <% end %>
      <% end %>
      <div class="source-credits">
      <%# pbcore.publishers.reject{|type, value| value == 'WGBH Educational Foundation' }.each do |type, value| %>
        <%#= "Footage Courtesy of <a href=\"http://www.abcnewsvsource.com/\" rel=\"nofollow\">ABCNews</a>".html_safe if value =~ /ABC/ %>
        <%#= "Footage Courtesy of <a href=\"http://www.cbsnews.com/\" rel=\"nofollow\">CBS News</a>".html_safe if value =~ /CBS/ %>
      <%# end %>
      </div>
    </div>
    <%# end %>
  </div>

  <% unless pbcore.rights_summary.empty? or pbcore.rights_summary.first =~ /WGBH Educational Foundation/ %>
    <h3 class="toggler">Rights</h3>
    <%= pbcore.rights_summary.first %>
  <% end %>


  <% instantiations = nil %>
  <% unless instantiations.blank? %>
    <div class="instantiation">
      <h3 class="toggler">Media</h3>
      <% instantiations.each do |inst| %>
        <div>
          <%
            inst_map = {'formatDuration' => 'Duration', 'formatStandard' => 'Standard', 'formatPhysical' => 'Physical format', 'formatGenerations' => 'Type'}
           %> 

          <% inst[:to_xml].xpath('pbcore:pbcoreFormatID[pbcore:formatIdentifierSource="wgbh.org/mars/barcode/"]/pbcore:formatIdentifier', 'pbcore' => 'http://www.pbcore.org/PBCore/PBCoreNamespace.html').map { |e| e.content }.to_a.uniq.each do |e| %>
          <div><strong>Barcode</strong>
          <%= e %></div>
          <% end %>

          <% inst_map.each do |key, label| %>
            <% inst[key].to_a.uniq.each do |e| %>
              <div><strong><%= label %></strong> <%= e %></div> 
            <% end %>
          <% end %>
        </div>
      <% end %> 
    </div>
  <% end %>

  <div class="description">
    <%# unless pbcore.description.reject{|type, value| type == 'Abstract' or value == @document.get('dc_description_t') }.empty? %>
      <h3 class="toggler">Description</h3>
      <div>
        <div>
          <div class="pbcore-description-block pbcore-description-summary">
            <%# unless pbcore.summary.first.nil? %>
            <strong>Summary</strong> <%#= pbcore.summary.first.html_safe %>
            <%# end %>
          </div>
          <div class="pbcore-description-block pbcore-description-series">
            <strong>Series</strong> <%= render_document_show_field_value(@document, :field => 'desc_series_ssm') %>
          </div>
          <%# pbcore.descriptions.reject{|type, value| type == 'Abstract' or value == @document.get('dc_description_t') }.each do |type, value| %>
            <!-- <div class="pbcore-description-block pbcore-description-<%#= type.parameterize %>"><strong><%#= type %></strong> <%#= render_field_value(value).html_safe %></div> -->
          <%# end %>
        </div>
      </div>
    <%# end %>
  </div>

  <% coverage = pbcore.pbcoreCoverage %>
  <hr />
  
  <% unless coverage.blank? %>
    <div class="date">   
      <div>
        <strong>Date Covered</strong>
        <ul>
          <% coverage.uniq.each do |s| %>
            <%= content_tag(:li, link_to(s, catalog_index_path({:q => s }))) %>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <% place = nil %>
  <% unless place.blank? %>
    <div class="place">   
      <div>
        <strong>Place Covered</strong>
        <ul>
          <%# coverage['Spatial'].uniq.each do |s| %>
            <%#= content_tag(:li, link_to(s[:coverage], catalog_index_path({:q => s[:coverage] }))) %>
          <%# end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="people">
    <% contributors = pbcore.contributor %>
    <% creators = pbcore.creator %>
    <% unless contributors.blank? and creators.blank? %>
    <div>
    <% creators.each_with_index do |cont, idx| %>
      <div><strong><%= pbcore.creator_role[idx] %></strong>
      <ul>
        <%= content_tag(:li, link_to(pbcore.creator_name[idx], catalog_index_path({:q => pbcore.creator_name[idx]}))) %>
      </ul>
      </div>
    <% end %>

    <% contributors.each_with_index do |cont, idx| %>
      <div><strong><%= pbcore.contributor_role[idx] %></strong>
      <ul>
        <%= content_tag(:li, link_to(pbcore.contributor_name[idx], catalog_index_path({:q => pbcore.contributor_name[idx]}))) %>
      </ul>
      </div>
    <% end %>
    </div>
    <% end %>
  </div><!-- end .people -->
</div>
  