<% pbcore = OpenvaultAsset.find(@document.id).pbcore %>
<h4>Metadata</h4>
<div class="basic">
  <div class="source">
    <%# unless  pbcore.titles.reject { |type, value| value == document.get(:title_display) }.empty? and pbcore.publishers.reject{|type, value| value == 'WGBH Educational Foundation' }.empty? %>
    <div>
      <% unless pbcore.episode_title.empty? %>
      <p><strong>Episode</strong> <%= pbcore.episode_title.first %></p>
      <% end %>
      <% unless pbcore.program_title.empty? %>
      <p><strong>Program</strong> <%= pbcore.program_title.first %></p>
      <% end %>
      <% unless pbcore.series_title.empty? %>
      <p><strong>Series</strong> <%= pbcore.series_title.first %></p>
      <% end %>
      <div class="source-credits">
      <%# pbcore.publishers.reject{|type, value| value == 'WGBH Educational Foundation' }.each do |type, value| %>
        <%#= "Footage Courtesy of <a href=\"http://www.abcnewsvsource.com/\" rel=\"nofollow\">ABCNews</a>".html_safe if value =~ /ABC/ %>
        <%#= "Footage Courtesy of <a href=\"http://www.cbsnews.com/\" rel=\"nofollow\">CBS News</a>".html_safe if value =~ /CBS/ %>
      <%# end %>
      </div>
    </div>
    <%# end %>
  </div>
</div>
<a href="#" class="more_meta">More metadata</a>
<div class="advanced">
  <% unless pbcore.creator_name.blank? %>
    <div class="creators">
      <h3>Creators</h3>
      <ul>
        <% pbcore.creator_name.each_with_index do |c, idx| %>
          <li><%= c.to_s %> - <%= pbcore.creator_role[idx].to_s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# instantiations = nil %>
  <% unless pbcore.instantiations.blank? %>
    <div class="instantiation">
      <h3 class="toggler">Media</h3>
      <% pbcore.instantiations.each do |inst| %>
        <div>
          <%= inst.inspect %>
          <%#
            inst_map = {'formatDuration' => 'Duration', 'formatStandard' => 'Standard', 'formatPhysical' => 'Physical format', 'formatGenerations' => 'Type'}
           %> 

          <%# inst[:to_xml].xpath('pbcore:pbcoreFormatID[pbcore:formatIdentifierSource="wgbh.org/mars/barcode/"]/pbcore:formatIdentifier', 'pbcore' => 'http://www.pbcore.org/PBCore/PBCoreNamespace.html').map { |e| e.content }.to_a.uniq.each do |e| %>
          <div><strong>Barcode</strong>
          <%#= e %></div>
          <%# end %>

          <%# inst_map.each do |key, label| %>
            <%# inst[key].to_a.uniq.each do |e| %>
              <div><strong><%#= label %></strong> <%#= e %></div> 
            <%# end %>
          <%# end %>
        </div>
      <% end %> 
    </div>
  <% end %>

</div>
  