<div class="image_field">
  <% if f.object.image_url.blank? %>
    <%= f.input :image, label: false %>
  <% else %>
    <%= image_tag f.object.image_url(:med) %>
  <% end %>
  <%= f.input :rights, label: false, placeholder: 'Rights alt tag text' %>
  <%= f.input :_destroy, :as => :hidden %> 
  <%= f.link_to_remove "Remove image", :class => 'btn btn-mini btn-danger' %>
</div>