<% title "#{application_name} - Collections" %>
<h2>Scholar Collections</h2>
<div class="row-fluid">
  <div class="span10">
    <br/>
    <%# She has a whole lot of articles, and we don't want hers to dominate this page. %>
    <h4><%= link_to 'From The WGBH Vault Articles', '/scholar/elizabeth-deane' %></h4>
    <p>by <%= link_to 'Elizabeth Deane', '/scholar/elizabeth-deane' %></p>
    <p>
      This collection of articles highlights content from the WGBH Media Library and Archives 
      that are of historical or cultural significance. They were composed by longtime WGBH 
      producer and writer, Elizabeth Deane.
    </p>
  </div>
</div>

<% @custom_collections.sort_by{|c| c.name}.reject{|c| c.owner.full_name == 'Elizabeth Deane'}.each do |collection| %>
  <div class="row-fluid">
    <div class="span10">
      <br/>
      <h4><%= link_to collection.name, collection %></h4>
      <p>by <%= link_to collection.owner.full_name, collection.owner.url rescue collection.owner.name %></p>
      <p>
        <% if collection.summary && collection.summary.length > 300 %>
          <%= collection.summary[0..300] + '... ' %>
          <%= link_to "read more", collection %>
        <% else %>
          <%= collection.summary %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

