<% title "#{application_name} - Collections" %>
<h2>Scholar Collections</h2>
<% @custom_collections.sort_by{|collection| collection.name}.each do |collection| %>
  <div class="row-fluid">
    <div class="span10">
      <br/>
      <h4><%= link_to collection.name, collection %></h4>
      <p>by <%= link_to collection.owner.full_name, collection.owner.url rescue collection.owner.name %></p>
      <p>
        <% if collection.summary && collection.summary.length > 300 %>
          <%= collection.summary[0..300] + '... ' %>
          <%= link_to "read more", collection %>
        <% else %>
          <%= collection.summary %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>

