<div id="collection_container">
  <h2><%= @custom_collection.name %></h2>
  <p><strong>Created By: <%= (@custom_collection.owner.class == Org) ? @custom_collection.owner_name : link_to(@custom_collection.owner_name, @custom_collection.owner.url) %></strong></p>
  <br />
  <div class="tabbable responsive">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#summary" class="summary-link" data-toggle="tab">Abstract</a></li>
      <li><a href="#article-content" class="article-content-link" data-toggle="tab">Article</a></li>
      <li><a href="#media" class="media-link" data-toggle="tab">Media</a></li>
      <% if !@custom_collection.custom_collection_images.empty? %>
        <li><a href="#images" class="images-link" data-toggle="tab">Images</a></li>
      <% end %>
      <li><a href="#related" class="related-link" data-toggle="tab">Related Content</a></li>
      <li><a href="#collabs" class="collabs-link" data-toggle="tab">Authors</a></li>
    </ul>
    <div class="tab-content">
      <div id="summary" class="tab-pane active fade in">
        <%= @custom_collection.summary.html_safe %>
      </div>
      <div id="article-content" class="tab-pane fade in" data-article="<%= @custom_collection.article.url %>">
        <% unless @custom_collection.article.nil? %>
          <p class="hidden-tablet hidden-desktop pdf-download-link"><%= link_to 'View PDF', @custom_collection.article.url, target: "_blank" %></p>
          <iframe class="pdf-container hidden-phone" src="<%= @custom_collection.article.url %>">
            <p class="pdf-download-link">
              Browser does not appear to support iframes. Try <%= link_to 'this link', @custom_collection.article.url, target: "_blank" %>.
            </p>
          </iframe>
          <p class="article_rights"><%= @custom_collection.article_rights.to_s %></p>
        <% end %>
        
      </div>

      <div id="media" class="tab-pane fade in">
        <% @custom_collection.custom_collection_items.by_kind.each do |item| %> 
          <div id="search_page">
            <div id="content">
              <div id="documents">
                <div class="document">
                  <%= render_collection_item(item) %>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
      <% if !@custom_collection.custom_collection_images.empty? %>
        <div id="images" class="tab-pane fade in">
          <%= render partial: "custom_collection_images_gallery", locals: {custom_collection: @custom_collection} %>
        </div>
      <% end %>

      <div id="related" class="tab-pane fade in">
        <% @custom_collection.custom_collection_related_links.each do |link| %>
          <div class="link_block">
            <a href="<%= link.link %>"><%= link.link %></a>
            <p><%= link.desc %></p>
          </div>
        <% end %>
      </div>

      <div id="collabs" class="tab-pane fade in">
        <div id="credits"> 
          <% unless @custom_collection.collabs.nil? %>
            <ul>
              <% ([@custom_collection.owner] + @custom_collection.collabs_without_owner).each do |collab| %>
                <li>
                  <%= render partial: "owner_#{collab.class.to_s.downcase}", locals: {collab: collab}  %>
                </li>
              <% end %>
            </ul>
          <% end %>
        
          <% if @custom_collection.credits.present? %>
            <p class="collection_credits">
              Additional Credits: <%= @custom_collection.credits.to_s %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    
    <% if current_user && current_user == @custom_collection.owner %>
      <%= link_to 'Edit collection details', edit_custom_collection_path(@custom_collection) %>
    <% end %>
  </div>
</div>

