<div id="collection_container">
  <h2><%= @custom_collection.name %></h2>
  <p><strong>Created By: <%= @custom_collection.owner_name %></strong> <em>(owner)</em></p>
  <br />
  <div class="tabbable responsive">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#summary" class="summary-link" data-toggle="tab">Summary</a></li>
      <li><a href="#article-content" class="article-content-link" data-toggle="tab">Article Content</a></li>
      <li><a href="#media" class="media-link" data-toggle="tab">Media</a></li>
      <li><a href="#images" class="images-link" data-toggle="tab">Images</a></li>
      <li><a href="#related" class="related-link" data-toggle="tab">Related Content</a></li>
      <li><a href="#collabs" class="collabs-link" data-toggle="tab">Collaborators</a></li>
    </ul>
    <div class="tab-content">
      <div id="summary" class="tab-pane active fade in">
        <%= @custom_collection.summary.html_safe %>
      </div>
      <div id="article-content" class="tab-pane fade in" data-article="<%= @custom_collection.article.url %>">
        <% unless @custom_collection.article.nil? %>
          <p class="hidden-tablet hidden-desktop pdf-download-link"><%= link_to 'View PDF', @custom_collection.article.url, :target => "_blank" %></p>
          <iframe class="pdf-container hidden-phone" src="<%= @custom_collection.article.url %>">
            <p class="pdf-download-link">
              Browser does not appear to support iframes. Try <%= link_to 'this link', @custom_collection.article.url, :target => "_blank" %>.
            </p>
          </iframe>
          <p class="article_rights"><%= @custom_collection.article_rights.to_s %></p>
        <% end %>
      </div>

      <!-- ############################### -->

      <div id="media" class="tab-pane fade in">
        
        <!-- stuff.each do thing
             Make everything go in this format. 
             Ideally you'd have a SINGLE collection of things that you'd iterate over
             Then you'd pull the basic info you'd need to fill in the thing below
             Style can be snagged from the other page
         -->
          <% unless @custom_collection.custom_collection_items.videos.count == 0 %>
            <h5><b>Custom Collection Items (Videos):</b></h5>
            <% @custom_collection.custom_collection_items.videos.each do |col| %> 
              <div id="search_page">
                <div id="content">
                  <div id="documents">
                    <div class="document">  
                      <div class="doc_thumbnail">
                        <img alt="No Image Available" src="/assets/no_image.gif">
                      </div> 
                      <h3 class="index_title">
                        <%= link_to col.ov_asset['title_tesim'], video_path(col.ov_asset['id']) %>
                      </h3> 
                      <div class="clearfix">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

          <% unless @custom_collection.custom_collection_items.audios.count == 0 %>
            <h5><b>Custom Collection Items (Audio):</b></h5>
            <% @custom_collection.custom_collection_items.audios.each do |col| %> 
              <div id="search_page">
                <div id="content">
                  <div id="documents">
                    <div class="document">  
                      <div class="doc_thumbnail">
                        <img alt="No Image Available" src="/assets/no_image.gif">
                      </div> 
                      <h3 class="index_title">
                        <%= link_to col.ov_asset['title_tesim'], audio_path(col.ov_asset['id']) %>
                      </h3> 
                      <div class="clearfix">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

          <% unless @custom_collection.custom_collection_items.programs.count == 0 %>
          <h5><b>Custom Collection Items (Programs):</b></h5>
          <% @custom_collection.custom_collection_items.programs.each do |col| %>
            <div id="search_page">
                <div id="content">
                  <div id="documents">
                    <div class="document">  
                      <div class="doc_thumbnail">
                        <img alt="No Image Available" src="/assets/no_image.gif">
                      </div> 
                      <h3 class="index_title">
                        <%= link_to col.ov_asset['title_tesim'], program_path(col.ov_asset['id']) %>
                      </h3> 
                      <div class="clearfix">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

          <% unless @custom_collection.custom_collection_items.series.count == 0 %>
          <h5><b>Custom Collection Items (Series):</b></h5>
          <% @custom_collection.custom_collection_items.series.each do |col| %>
            <div id="search_page">
                <div id="content">
                  <div id="documents">
                    <div class="document">  
                      <div class="doc_thumbnail">
                        <img alt="No Image Available" src="/assets/no_image.gif">
                      </div> 
                      <h3 class="index_title">
                        <%= link_to col.ov_asset['title_tesim'], series_path(col.ov_asset['id']) %>
                      </h3> 
                      <div class="clearfix">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

      </div>

      <!-- <div id="media" class="tab-pane fade in">
        <% unless @custom_collection.custom_collection_items.videos.count == 0 %>
          <% if @custom_collection.custom_collection_items.videos.count > 1 %>
            <!- VIDEO START >
            <div id="cc_video_container hidden-phone">
              <div id="cc_video_player">
              <video id="cc_player" class="video-js vjs-default-skin vjs-big-play-centered"
                controls preload="auto" width="100%" height="450"
                data-setup='{}'
                poster="/assets/slider_thumb.png">
                <source src="/assets/video_test.mp4" type='video/mp4' />
                <source src="/assets/video_test.webm" type='video/webm' />
                <source src="/assets/video_test.ogg" type='video/ogg' />
              </video>
              <p class="video_title">Video Title 1</p>
            </div>
              <div id="cc_video_thumbnail_list" class="jThumbnailScroller">
              <div class="jTscrollerContainer">
                <div class="jTscroller">
                  <a href="#" class="v_thumbnail" data-videourl="/assets/video_test.mp4">
                    <img src="/assets/slider_thumb.png" alt="Video title 1" />
                  </a>
                  <a href="#" class="v_thumbnail" data-videourl="/assets/test_vid_2.mp4">
                    <img src="/assets/tmp_cat_image_thumb.jpg" alt="Video title 2" />
                  </a>
                  <a href="#" class="v_thumbnail" data-videourl="/assets/video_test.mp4">
                    <img src="/assets/slider_thumb.png" alt="Video title 1" />
                  </a>
                  <a href="#" class="v_thumbnail" data-videourl="/assets/test_vid_2.mp4">
                    <img src="/assets/tmp_cat_image_thumb.jpg" alt="Video title 2" />
                  </a>
                  <a href="#" class="v_thumbnail" data-videourl="/assets/video_test.mp4">
                    <img src="/assets/slider_thumb.png" alt="Video title 1" />
                  </a>
                  <a href="#" class="v_thumbnail" data-videourl="/assets/test_vid_2.mp4">
                    <img src="/assets/tmp_cat_image_thumb.jpg" alt="Video title 2" />
                  </a>
                  <a href="#" class="v_thumbnail" data-videourl="/assets/video_test.mp4">
                    <img src="/assets/slider_thumb.png" alt="Video title 1" />
                  </a>
                  <a href="#" class="v_thumbnail" data-videourl="/assets/test_vid_2.mp4">
                    <img src="/assets/tmp_cat_image_thumb.jpg" alt="Video title 2" />
                  </a>
                  <a href="#" class="v_thumbnail" data-videourl="/assets/video_test.mp4">
                    <img src="/assets/slider_thumb.png" alt="Video title 1" />
                  </a>
                  <a href="#" class="v_thumbnail" data-videourl="/assets/test_vid_2.mp4">
                    <img src="/assets/tmp_cat_image_thumb.jpg" alt="Video title 2" />
                  </a>
                </div>
              </div>
              <a href="#" class="jTscrollerPrevButton"></a>
              <a href="#" class="jTscrollerNextButton"></a>
            </div>
            </div>
            <div class="hidden-desktop hidden-tablet mobile-video-links">
              <% @custom_collection.custom_collection_items.videos.each do |col| %>
                <%= link_to col.ov_asset['title_tesim'], video_path(col.ov_asset['id']) %>
              <% end %>
            </div>
            <hr />
          <% else %>
            <video id="cc_player" class="video-js vjs-default-skin vjs-big-play-centered hidden-phone"
              controls preload="auto" width="100%" height="450"
              data-setup='{}'
              poster="/assets/slider_thumb.png">
              <source src="/assets/video_test.mp4" type='video/mp4' />
              <source src="/assets/video_test.webm" type='video/webm' />
              <source src="/assets/video_test.ogg" type='video/ogg' />
            </video>
            <video id="cc_player" class="video-js vjs-default-skin vjs-big-play-centered hidden-desktop hidden-tablet"
              controls preload="auto" width="100%" height="180"
              data-setup='{}'
              poster="/assets/slider_thumb.png">
              <source src="/assets/video_test.mp4" type='video/mp4' />
              <source src="/assets/video_test.webm" type='video/webm' />
              <source src="/assets/video_test.ogg" type='video/ogg' />
            </video>
            <h3>
              <a href="/video/<%= @custom_collection.custom_collection_items.videos.first.ov_asset['id'] %>">
                <%= @custom_collection.custom_collection_items.videos.first.ov_asset['title_tesim'].try(:first).to_s %>
              </a>
            </h3>
            <p class="video_summary">
              <%= @custom_collection.custom_collection_items.videos.first.ov_asset['summary_ssm'].try(:first) %>
            </p>
            <hr />
          <% end %>
        <% end %>

      <!-- ############################# -->


      <div id="images" class="tab-pane fade in">
        <% if @custom_collection.custom_collection_images.count > 0 %>
          <%= render :partial => "custom_collection_images_gallery", :locals => {:custom_collection => @custom_collection} %>
        <% else %>
          <%= render :partial => "no_images" %>
        <% end %>
      </div>

      <div id="related" class="tab-pane fade in">
        <% @custom_collection.custom_collection_related_links.each do |link| %>
          <div class="link_block">
            <a href="<%= link.link %>"><%= link.link %></a>
            <p><%= link.desc %></p>
          </div>
        <% end %>
      </div>

      <div id="collabs" class="tab-pane fade in">

        <% unless @custom_collection.collabs.nil? %>
          <h3>Collaborators:</h3>
          <ul>
            <li><strong><%= @custom_collection.owner_name %> (owner)</strong></li>
            <% @custom_collection.collabs_without_owner.each do |collab| %>
              <li><%= collab.full_name %></li>
            <% end %>
          </ul>
        <% end %>
        
        <p class="collection_credits">
          Advisors: <%= @custom_collection.credits.to_s %>
        </p>

      </div>
    </div>
    <% if current_user && current_user == @custom_collection.owner %>
      <%= link_to 'Edit collection details', edit_custom_collection_path(@custom_collection) %>
    <% end %>
  </div>
</div>

