<% title "#{application_name} - Edit Profile" %>
<div id="signup_form_container">
  
  <div class="row-fluid">
    <div class="span1">
      &nbsp;
    </div>
    <div class="grainbox span10">
      <h2>Edit your <%= application_name %> profile</h2>
      <div class="sep-line"></div>
    	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => '', :method => :put}) do |f| %>
    	  <%= devise_error_messages! %>
        <div class="row-fluid">
          <div class="span6 right">
        		<%= f.input :first_name, :placeholder => 'First name' %>
        		<%= f.input :last_name, :placeholder => 'Last name' %>
            <%= f.input :email, :autofocus => true, :placeholder => 'Email', required: true %>
            <%= f.input :avatar %>

            <div class="control-group">
              <label class="control-label">Profile Image</label>
              <div class="controls">
                <button class="choose_avatar_btn btn">Choose a file</button>
              </div>
            </div>

            <%= f.input :current_password, :placeholder => 'Current password', required: true %>
            <%= f.input :password, :label => "New password", :placeholder => 'New password (at least 8 characters)', required: true %>
            <%= f.input :password_confirmation, :label => "Confirm new password", :placeholder => 'New password confirmation', required: true %>

          </div>
          <div class="span6 left">
            <%= f.input :organization, :placeholder => 'Organization' %>
            <%= f.input :title, :placeholder => 'Title' %>
            
         		<div class="control-group">
         			<%= f.label :country, :class => 'control-label' %>
         	    <div class="controls">
         				<%= country_select("user", "country", ["United States"]) %>
         	    </div>
         	  </div>

          </div>
        </div>
        <%= f.input :bio, :placeholder => 'Biography' %>
        <div class="clearfix"></div>
        <div class="sep-line"></div>
        <%= f.submit "Save Profile", :class => 'btn' %>
		    <div class="clearfix"></div>
    	<% end %>
    </div>
    <div class="span1">
      &nbsp;
    </div>
  </div>
</div>
