<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %> -->

<div id="signup_form_container">
  <h2>Edit your profile</h2>
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal', :method => :put}) do |f| %>
	  <%#= devise_error_messages! %>

		<%= f.input :email, :autofocus => true, :placeholder => 'Email', required: true %>
    
    <a href="#" class="change_password_edit_link">Change Password</a>
    <div id="password_change_container">
    	<div class="control-group password optional user_password">
        <label class="password optional control-label" for="user_password">Password</label>
        <div class="controls">
          <input class="password optional" id="user_password" name="user[password]" placeholder="Password" size="50" type="password">
        </div>
      </div>
  
    	<div class="control-group password_confirmation optional user_password">
        <label class="password_confirmation optional control-label" for="user_password_confirmation">Password confirmation</label>
        <div class="controls">
          <input class="password_confirmation optional" id="user_password_confirmation" name="user[password_confirmation]" placeholder="Password confirmation" size="50" type="password">
        </div>
      </div>
    </div>
    
    <%= f.input :current_password, :placeholder => 'needed to confirm changes' %>
		
		<%= f.input :first_name, :placeholder => 'First name' %>
		
		<%= f.input :last_name, :placeholder => 'Last name' %>
    
    <%= f.input :role, as: :hidden, :input_html => { :value => 'member'} %>
		
		<%= f.input :postal_code, :placeholder => 'Postal code' %>

		<div class="control-group">
			<%= f.label :country, :class => 'control-label' %>
	    <div class="controls">
				<%= country_select("user", "country", ["United States"]) %>
	    </div>
	  </div>
	
		
		<div class="control-group no-margin">
	    <div class="controls">
				<label for="user_tmla_updates" class="checkbox">
					<input id="user_mla_updates" name="user[mla_updates]" type="checkbox" checked> Notify me of Open Vault updates and Media Library news
		    </label>
			</div>
		</div>
		
		<div class="control-group">
	    <div class="controls">
	      <%= f.submit "Update profile", :class => 'btn btn-primary' %>
	    </div>
	  </div>
		
	<% end %>
	
  <h3>Cancel my account</h3>

  <p>Unhappy with your OpenVault Account?</p>
  <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-inverse' %>

  <%= link_to "Back", :back %>
</div>
