<% title "Open Vault - Sign Up" %>
<div id="signup_form_container">
	<h3>The WGBH Open Vault is the only place to find the largest collection of public broadcasting recordings and records. Apply for a scholars account and contribute with your own collections.</h3>
  <br />
  <div class="row-fluid">
    <div class="span1">
      &nbsp;
    </div>
    <div class="grainbox span10">
      <h2>Sign up for your free account</h2>
      <div class="sep-line"></div>
    	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => ''}) do |f| %>
    	  <%= devise_error_messages! %>
        <div class="row-fluid">
          <div class="span6 right">
        		<%= f.input :first_name, :placeholder => 'First name' %>
        		<%= f.input :last_name, :placeholder => 'Last name' %>
            <%= f.input :email, :autofocus => true, :placeholder => 'Email', required: true %>
            <%= f.input :avatar %>
            <div class="control-group">
              <label class="control-label">Profile Image</label>
              <div class="controls">
                <button class="choose_avatar_btn btn">Choose a file</button>
              </div>
            </div>
        		<%= f.input :password, :placeholder => 'Password (at least 8 characters)', required: true %>
        		<%= f.input :password_confirmation, :placeholder => 'Password confirmation', required: true %>
          </div>
          <div class="span6 left">
            <%= f.input :role, as: :hidden, :input_html => { :value => 'member'} %>        
            <%= f.input :organization, :placeholder => 'Organization' %>
            <%= f.input :title, :placeholder => 'Title' %>
            
         		<div class="control-group">
         			<%= f.label :country, :class => 'control-label' %>
         	    <div class="controls">
         				<%= country_select("user", "country", ["United States"]) %>
         	    </div>
         	  </div>
            
        		<div class="control-group no-margin">
        	    <div class="controls">
        				<label for="user_terms_and_conditions" class="checkbox">
        					<input id="user_terms_and_conditions" name="user[terms_and_conditions]" type="checkbox" >By checking this box you agree to the <a href="/blog/terms-and-conditions">Terms &amp; Conditions</a> of the WGBH Open Vault
        		    </label>
        			</div>
        		</div>
            
        		<div class="control-group no-margin">
        	    <div class="controls">
        				<label for="user_tmla_updates" class="checkbox">
        					<input id="user_mla_updates" name="user[mla_updates]" type="checkbox" checked> Notify me of Open Vault updates and Media Library news
        		    </label>
        			</div>
        		</div>
            
        		<div class="control-group">
        	    <div class="controls">
        	      <label class="checkbox" for="user_remember_me">
        	        <input type="checkbox" id="user_remember_me" name="user[remember_me]" checked> Remember me
        	      </label>
        	    </div>
        	  </div>
          </div>
        </div>
        <%= f.input :bio, :placeholder => 'Biography' %>
        <div class="clearfix"></div>
        <div class="sep-line"></div>
        <%= f.submit "Create Profile", :class => 'btn' %>
		    <div class="clearfix"></div>
    	<% end %>
    	<%#= render "devise/shared/links" %>
    </div>
    <div class="span1">
      &nbsp;
    </div>
  </div>
</div>
