<%= content_tag :li, :class => "comment comment-#{comment.id}", :"data-timecode_begin" => (comment.metadata[:begin] if comment.metadata), :"data-timecode_end" => (comment.metadata[:end] if comment.metadata) do %>
<strong><%= comment.title || nil %></strong>
<div class="byline"><%= comment.created_at.strftime("%m/%d/%Y") %></div>
<div class="comment"><%= comment.comment %></div>

<% unless comment.metadata.blank?%>
  <%= content_tag :div, comment.metadata.to_json, :class => 'comment_metadata' %>
  <%= link_to [render_comment_metadata_information(comment),"View"].join("&nbsp;&nbsp;").html_safe, "##{comment.id}", :class => 'comment_view', :target => 'parent' %>
<% end %>

<% if current_user and comment.user == current_user %>
<div>
<%= link_to 'Edit', edit_comment_path(comment) %>
<%# link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %>
     </div>
   </li>
 <% end %>
 <% end %>
