<%= form_for(comment) do |f| %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>
  <%# f.hidden_field :public %>

  <%= f.label :public, "Privacy Setting:" %>
  <%= f.radio_button(:public, true) %>  <%= f.label :public, "Public", :value => true %>
  <%= f.radio_button(:public, false) %>   <%= f.label :public, "Private", :value => false %>

  <div class="record_annotation_metadata">
  </div>

  <%= f.label :comment, "Body", :class => "ui-helper-hidden-accessible" %>
  <%= f.text_area :comment %>

  <%= f.submit "Add" %>
<% end %>
