<%# this should be in a partial -%>
<div id="document" class="<% render_document_class %> show_program">
  <div id="doc_<%= @document[:id] %>">
    <%= render partial: 'catalog/document_heading' %>
    <div class="row-fluid">
      <div class="span9 audio_content">
        <div class="sep-line-thin"></div>
        <div class="document_content">
          <p><%= @ov_asset.summary unless @ov_asset.title == @ov_asset.summary %></p>
          <%= render partial: 'catalog/audio/player' %>
          <div class="metadata">
            <%=
              begin
                render partial: "catalog/_metadata_partials/pbcore", :locals => { :document => @document }
              rescue ActionView::MissingTemplate
              end
            %>
          </div>

          <div id="comments">
            <div class="fb-comments" data-href="http://lsopenvault01.wgbh.org"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
