<!--
  Partial used for displaying a single Program result in catalog#index.
-->
<div class="document <%= render_document_class program %>">  
    <div  class="doc_thumbnail">
      <% unless program["thumbnail_ssm"].nil? %>
        <%= link_to image_tag(program["thumbnail_ssm"].first), controller: 'catalog', action: 'show', id: program.id %>
      <% else %>
        <%= image_tag("no_image.gif", alt: "No Image Available") %>
      <% end %>
    </div> 
  <h3 class="index_title">
    <%= link_to program[:title_tesim].first, controller: 'catalog', action: 'show', id: program.id %>
  </h3>  
  <div class="defList_container">
    <% unless program[:summary_tesim].nil? %>
      <div class="blacklight-summary">
        <div class="doc_value"><p><%= safe_truncate program[:summary_tesim].first %></p></div>
      </div>
    <% end %>
    <% unless program[:active_fedora_model_ssi].nil? %>
      <div class="blacklight-model">
        <div class="doc_value"><p><span class="doc_label">Media Type:</span><%= safe_truncate program[:active_fedora_model_ssi] %></p></div>
      </div>
    <% end %>
    <% unless program[:date_portrayed_tesim].nil? %>
      <div class="blacklight-date">
        <div class="doc_value"><p><span class="doc_label">Date:</span><%= safe_truncate program[:date_portrayed_tesim].first %></p></div>
      </div>
    <% end %>
    <% index_field_names.each do |solr_fname| -%>
      <% value = render_index_field_value :document => program, :field => solr_fname %>
      <% unless value.blank? %>
        <div class="blacklight-<%= solr_fname.parameterize %>" >
          <div class="doc_value"><p><span class="doc_label"><%= render_index_field_label :field => solr_fname %>:</span><%= render_index_field_value :document => program, :field => solr_fname %></p></div>
        </div>
      <% end -%>
    <% end -%>
  </div>
  <%#= render_document_unapi_microformat program %>
  <div class="clearfix"></div>
</div>
