<h3><%= @document[:display_title_ssm].last %></h3>
<% unless @document[:description_ssm].nil? %>
  <p><strong>Summary: </strong><%= @document[:description_ssm].first.html_safe %></p>
<% end %>
<% unless @document[:asset_date_tesim].nil? %>
  <p><strong>Created: </strong><%= @document[:asset_date_tesim].first %></p>
<% end %>
<!-- List the audio/video files associated with program -->
<div class="sep-line"></div>

<% unless @videos.empty? %>
  <div id="program_videos">
    <h3>Videos from this program</h3>
    <% @videos.each do |media| %>
      <%= render partial: 'programs/partials/video' %>
    <% end %>
  </div>
<% end %>

<% unless @audios.empty? %>
  <div id="program_audios">
    <h3>Videos from this program</h3>
    <% @audios.each do |media| %>
      <%= render partial: 'programs/partials/audio' %>
    <% end %>
  </div>
<% end %>

<% unless @images.empty? %>
  <div id="program_images">
    <h3>Images from this program</h3>
    <% @images.each do |media| %>
      <%= render partial: 'programs/partials/image' %>
    <% end %>
  </div>
<% end %>