<h2>Scholars</h2>
<% @users.each do |user| %>
  <div class="user_block row-fluid">
    <div class="span2">
      <%= link_to image_tag(user.avatar.url(:small)), user.url %>
    </div>
    <div class="span10">
      <h4><%= link_to user.full_name, user.url %></h4>
      <p><%= user.work_string %></p>
      <p><%= truncate(user.bio, :length => 300) %></p>
      <p><%= pluralize(user.custom_collections.length, 'custom collection') %></p>
    </div>
  </div>
<% end %>