<% title "OpenVault - #{@user.full_name}" %>
<div id="user_show_page" class="row-fluid">
  <div class="span1 hidden-phone">
    &nbsp;
  </div>
  <div class="span10">
    <div class="row-fluid">
      <div class="row-fluid hidden-desktop hidden-tablet mobile-user-row">
        <%= image_tag @user.avatar.url(:thumb) %>
        <h3><%= @user.full_name %></h3>
        <h4><%= @user.title %></h4>
        <h4><%= @user.organization %></h4>
        <%#= render partial: 'global_partials/share' %>
        <div id="user_bio" class="span8">
          <p class="bio"><strong>Bio: </strong><%= @user.bio %></p>
        </div>
      </div>
      <div class="hidden-phone desktop-user-row">
        <div id="user_image" class="span2">
          <%= image_tag @user.avatar.url(:med) %>
        </div>
        <div id="user_info" class="span2">
          <h3><%= @user.full_name %></h3>
          <h4><%= @user.title %></h4>
          <h4><%= @user.organization %></h4>
          <%= render partial: 'global_partials/share' %>
          <% if current_user && current_user == @user %>
            <div class="user-actions">
              <a href="/users/edit">Edit profile</a>
            </div>
          <% end %>
        </div>
        <div id="user_bio" class="span8">
          <p class="bio short-bio"><strong>Bio: </strong>
            <% if @user.bio? %> 
              <%= truncate(@user.bio, :length => 800) %><%= "<a href='#' class='more_bio_link'>More</a>".html_safe unless @user.bio.length < 800 %></p>
              <p class="bio long-bio" style="display:none;"><strong>Bio: </strong><%= @user.bio %></p>
            <% end %>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="span12">
        <h2><%= "#{@user.full_name}'s Collections"%></h2>
        <% @collections.each do |custom_collection| %>
          <div class="document blacklight-collection">
            <div class="thumbnail">
              <%= link_to image_tag(custom_collection.poster_image), custom_collection_path(custom_collection.id) %>
            </div>
            <div class="documentHeader">
              <h3 class="index_title">
                <%= link_to custom_collection.name, custom_collection %>
                <span>
                  <%= collab_status(custom_collection, @user) %>
                </span>
              </h3>
            </div>
            <div class="defList_container">
              <div class="blacklight-dc_description_t">
              <div class="label" style="display:none;">Summary</div>
              <div class="value"><%= truncate(custom_collection.summary, :length => 150) %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>
