<% title "OpenVault - #{@user.full_name}" %>
<div id="user_show_page" class="row-fluid">
  <div class="span1">
    &nbsp;
  </div>
  <div class="span10">
    <div class="row-fluid">
      <div id="user_image" class="span3">
        <%= image_tag @user.avatar.url(:med) %>
      </div>
      <div id="user_info" class="span3">
        <h3><%= @user.full_name %></h3>
        <h4><%= @user.title %></h4>
        <h4><%= @user.organization %></h4>
        <%= render partial: 'global_partials/share' %>
        <% if current_user && current_user == @user %>
          <div class="user-actions">
            <a href="/users/edit">Edit profile</a>
          </div>
        <% end %>
      </div>
      <div id="user_bio" class="span6">
        <p class="bio"><strong>Bio: </strong><%= @user.bio %></p>
      </div>
      <div class="clearfix"></div>
      <hr />
      <%= render partial: 'users/collections' unless @user.role != 'scholar' %>
    </div>
  </div>
  <div class="span1">
    &nbsp;
  </div>
</div>