<div class="document"> 
  <h3 class="index_title">
    <%= link_to((document[:title_tesim] ? document[:title_tesim].first : 'Untitled'), 
      controller: 'catalog', action: 'show', id: document.id) %>
  </h3>
  
  <% unless document["thumbnail_ssm"].nil? %>
    <div  class="doc_thumbnail">
      <%= link_to image_tag(document["thumbnail_ssm"].first), controller: 'catalog', action: 'show', id: document.id %>
    </div> 
  <% end %>
  
  <div class="defList_container">
    <% unless document[:summary_tesim].nil? %>
      <div class="blacklight-summary">
        <div class="doc_value"><p><%= safe_truncate document[:summary_tesim].first %></p></div>
      </div>
    <% end %>
    <% unless document[:active_fedora_model_ssi].nil? %>
      <div class="blacklight-model">
        <div class="doc_value"><p><span class="doc_label">Media Type:</span><%= document[:active_fedora_model_ssi] %></p></div>
      </div>
    <% end %>
    <% unless document[:date_portrayed_tesim].nil? %>
      <div class="blacklight-date">
        <div class="doc_value"><p><span class="doc_label">Date:</span><%= document[:date_portrayed_tesim].first %></p></div>
      </div>
    <% end %>
    <% index_field_names.each do |solr_fname| -%>
      <%# TODO: Get this working. %>
      <% value = render_index_field_value :document => document, :field => solr_fname %>
      <% unless value.blank? %>
        <div class="blacklight-<%= solr_fname.parameterize %>" >
          <div class="doc_value"><p><span class="doc_label"><%= render_index_field_label :field => solr_fname %>:</span><%= render_index_field_value :document => document, :field => solr_fname %></p></div>
        </div>
      <% end -%>
    <% end -%>
  </div>
  
  <div class="clearfix"></div>
</div>