
  <% if current_user && current_user.role == 'scholar' %>    
    <% if current_user && current_user.owned_collections.empty? && current_user.custom_collection_collabs.empty? %>

      <button class="btn btn-mini pull-right" type="button"><%= link_to 'Create New Collection', new_custom_collection_path %></button>

    <% else %>

        <% @menu_collection = current_user.collections.map{|c| [ c.name, c.id ] }.compact %>
          <% @menu_collection << ['Create a new collection...', 'new'] %>
          <% @disabled_menus = current_user.collections.map{|c| c.id if c.has_item?(@document.id)  } %>
          <form class="pull-right">
            <% label_tag :collection_id, 'Add to collection' %>
            <%= select_tag(:collection_id, options_for_select(@menu_collection, disabled: @disabled_menus), {:prompt => 'Add to collection...', :id => 'add_to_collection'}) %>
          </form>
          <script>
            $('#add_to_collection').change(function(){
              var collectionId = $(this).val();
              var assetId = "asset_id=<%= @document.id %>";
              var kind = "kind=<%= @document['active_fedora_model_ssi'] %>";

              if(collectionId == 'new'){
                $.cookie('redirect_to', window.location.toString(), {path: '/'});
                window.location = "<%= new_custom_collection_path %>";
              } else if(collectionId) {
                var addToCollectionLink = "/custom_collections/"+collectionId+"/add_item?"+assetId+"&"+kind;
                // NOTE RB: This should *not* be a GET request (but instead, a PUT request)
                // Needs to be fixed, this is how I found it.
                window.location = addToCollectionLink;
              }
            })
          </script>

    <% end %>
  <% end %>

    <%= render partial: 'global_partials/share' %>

