<% title "OpenVault - Home" %>
<div class="row-fluid">
  <div id="exhibits" class="grainbox span8">
    <h2>Exhibits</h2>
    <div class="sep-line"></div>
    <div id="exhibit-slider">
      <% @carousel_items.each_with_index do |ex, idx| %>
        <div class="exhibit-item <%= (idx == 0) ? 'active' : '' %> row-fluid" item-num="<%= idx %>">
          <div class="text span6">
            <h3><%= ex.title %></h3>
            <div class="summary hidden-tablet hidden-phone">
              <p><%= truncate(ex.body, length: 720).html_safe %></p>
            </div>
            <div class="summary-tablet hidden-desktop hidden-phone">
              <p><%= truncate(ex.body, length: 300).html_safe %></p>
            </div>
            <div class="link hidden-phone">
              <a href="<%= ex.url %>">View exhibit</a>
            </div>
          </div>
          <div class="image span6">
            <%= link_to image_tag(ex.image), ex.url %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div id="exhibit-controls">
      <% @carousel_items.length.times do |idx| %>
        <a href="#" data-num="<%= idx %>" class="<%= (idx == 0) ? 'active' : '' %> page-dot">Dot</a>
      <% end %>
    </div>
  </div>
  <div id="home_sidebar" class="span4">
    <div id="welcome" class="grainbox">
      <h2>What is the OpenVault?</h2>
      <div class="sep-line"></div>
      <p>We provide online access to unique and historically important content produced by the public television and radio station WGBH. So have a look around and explore!</p>
    </div>
    <br />
    <div id="collections" class="grainbox">
      <h2>New Collections</h2>
      <div class="sep-line"></div>
      <% @custom_collections.each do |coll| %>
        <div class="collection_block">
          <h3><%= link_to coll.name, coll %></h3>
          <div class="user_bio">
            <p><% # = link_to coll.owner_name, coll.owner
            %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="catalog-scroller" class="row-fluid">
  <div id="scroller-items">
    <% @scroller_items.each do |item| %>
      <a href="/video/<%= item[1].to_s %>" class="scroller-item">
        <img src="<%= item[0].to_s %>" class="scroller-image" />
      </a>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <div id="blog" class="span8">
    <h2>From the blog</h2>
    <div class="sep-line"></div>
    <div class="row-fluid">
      <div id="featured-post" class="span7">
        <% feature = Wordpress.get_post(:id => 1582) rescue nil %>
        <% if feature != nil %>
        <%= image_tag feature.images('thumbnail')['url'], alt: feature.title %>
        <h3><%= feature.title %></h3>
        <p><%= truncate(sanitize(feature.content, tags: %w{a, strong, em, p}) , :length => 800).html_safe %></p>
        <a href="<%= feature.url %>" class="action_link">Read more</a>
        <% else %>
        <p>We seem to be having a problem, please check back later.</p>
        <% end %>
      </div>
      <div id="more-posts" class="span5">
        <% posts = Wordpress.get_recent_posts(:count => 3) rescue nil %>
        <% posts.each do |post| %>
          <div class="post row-fluid">
          	<div class="body span12">
          		<h3><%= post.title %></h3>
          		<p><%= truncate(post.excerpt, :length => 180).html_safe %><a href="<%= post.url %>">Read more</a></p>
        		</div>
        	</div>
      	<% end rescue nil %>
        <% if posts != nil %>
          <a href="/blog" class="action_link" style="display:block;text-align:center;width:100%;">View all</a>
        <% end %>
      </div>
    </div>
  </div>
  <div id="tweets" class="span4">
    <h2>Recent Tweets</h2>
    <div class="sep-line"></div>
    <div id="tweet-list">
      <% unless @tweets.nil? %>
        <% @tweets.each_with_index do |tweet| %>
          <div class="tweet-item">
            <p><% string = tweet.text %>
            <%= auto_link(string.dup).html_safe %></p>
          </div>
        <% end %>
      <% end %>
      <% if @tweets.nil? || @tweets.empty? %>
        <p>There was a problem connecting to twitter, please check back later.</p>
      <% end %>
    </div>
    <a href="https://twitter.com/wgbharchives" class="twitter-follow">Follow @wgbharchives</a>
  </div>
</div>