<% title "#{application_name} - Search Results" %>
<% sidebar_items << render(:partial => 'facets') %>

<div id="search_content">

    <%# unless has_search_parameters? %>
	    <%# if there are no input/search related params, display the "home" partial -%>
	    <%#= render 'home' %>
    <%# else %>

    <% extra_head_content << render_opensearch_response_metadata %>

    <%= render :partial => 'did_you_mean' %>

    <%= render 'constraints', :localized_params=>params %>

    <div class="search-results-header row-fluid hidden-phone">
      <div class="span3">
        <%= render 'sort_and_per_page' %>
      </div>
      <div class="span2">
        <%= render :partial => 'search_form_media_only' %>
      </div>
      <div class="span3">
        <div class="pageEntriesInfo">
          <p><%= render_pagination_info @response, :entry_name=>'item' %></p>
        </div>
      </div>
      <div class="span4">
        <%= render 'results_pagination' %>
      </div>
    </div>
    <div class="search-results-header hidden-tablet hidden-desktop row-fluid">
      <div class="span6">
        <%= render 'sort_and_per_page' %>
      </div>
      <div class="span6">
        <div class="pageEntriesInfo">
          <p><%= render_pagination_info @response, :entry_name=>'item' %></p>
          <a href="#" class="mobile-filters">Filters</a>
        </div>
      </div>
    </div>
    

    <div class="row-fluid">
      <%= render_document_list_partial %>
    </div>
    
    <div class="row-fluid">
      <div class="span4">
        &nbsp;
      </div>
      <div class="span4">
        <%= render 'results_pagination' %>
      </div>
      <div class="span4">
        &nbsp;
      </div>
    </div>
      


    <%# end %>

</div>