<% extra_body_classes << 'no-results-found' %>
<% title "#{application_name} - No Results Found" %>
<%= render :partial => 'did_you_mean' %>
<%= render 'constraints', :localized_params=>params %>

<h2>We did not find any matches for this search.</h2>
<div id="documents" class="noresults">
  <h3>Suggestions:</h3>
  <ul>
    <li>Make sure all words are spelled correctly.</li>
    <li>If your search included many words, try again with fewer words.</li>
    <li>Try synonyms of your search terms.</li>
    <li>Try more general terms.</li>
  </ul>
</div>

<p>
  Please note that the <%= application_name %> site contains records for 
  WGBH productions, which aired on WGBH or PBS. For current programs, 
  try <a href="http://wgbh.org" target="_blank">WGBH.org</a> 
  or <a href="http://pbs.org" target="_blank">PBS.org</a>.
</p>

<p>
  You can also explore <%= application_name %> through its 
  <%= link_to "collections", custom_collections_path %> and
  <%= link_to "series", browse_series_path %>.
</p>

