<% title "#{application_name} - Log in" %>
<div id="signin_form_container">
	<h2>Log in</h2>
	<p>An <%= application_name %> account is required to view select media and to add tags and annotations. Sign-up is quick and free.</p>
  <br />
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
	  <%#= devise_error_messages! %>

		<%= f.input :email, :autofocus => true, :placeholder => 'Email', required: true %>

		<%= f.input :password, :placeholder => 'Password', required: true %>
		
		<div class="control-group">
	    <div class="controls">
	      <label class="checkbox" for="user_remember_me">
	        <input type="checkbox" id="user_remember_me" name="user[remember_me]" checked> Remember me
	      </label>
	      <%= f.submit "Log in", :class => 'btn btn-primary' %>
	    </div>
	  </div>
		
	<% end %>
	<hr />
	<%= render "devise/shared/links" %>
</div>