<% asset_style = @ov_asset.transcripts.present? ? 'asset-content' : '' %>

<div class="<%= asset_style %> row-fluid">
  <div class="span7 datastream primary-datastream datastream-video datastream-video-mp4">
    <% if @ov_asset.login_required? && !user_signed_in?%>
      <div>
        <div class="error" style="position: absolute; width: 350px;"><%# TODO: background shade. Move to scss. %>
          <h2>Registration Required</h2>
          <p>An Open Vault account is required to watch this record. Sign-up is quick and free. Please <a href="/users/sign_in">login</a> or <a href="/users/sign_up">register here</a>. </p>
        </div>
        <img src="<%= @ov_asset.thumbnail_url %>"/>
      </div>
    <%  else %>
      <video id="video-mp4" class="video-mp4 video-js vjs-default-skin vjs-big-play-centered hidden-phone"
        width="100%" height="350" controls preload="auto"
        poster="<%= @ov_asset.thumbnail_url %>">
        <source src="<%= @ov_asset.video_url(format: :mp4) %>" type='video/mp4' />
        <source src="<%= @ov_asset.video_url(format: :webm) %>" type='video/webm' />
      </video>
    <% end %>
  </div>
  <%= render partial: 'catalog/transcript' %>
</div>
