<!-- THIS IS A TEMPLATE FOR A SERIES LEVEL MODLE -->
<% title "#{application_name} - #{display_title @document}" %>
<%# extra_head_content << render_link_rel_alternates %>
<%# extra_head_content << render_document_partial(@document, :meta) %>
<%# extra_head_content << render_document_partial(@document, :opengraph) %>
<%# sidebar_items << render(:partial => 'related_content') %>

<%# this should be in a partial -%>
<div id="document" class="<%= render_document_class %> show_program">
  <div id="doc_<%= @document[:id] %>">
    <%= render partial: 'catalog/document_heading' %> 
    <div class="row-fluid">
      <div class="span11 video_content">
        <div class="sep-line-thin"></div>
        <div class="document_content">
          <p><%= @ov_asset.summary unless @ov_asset.title == @ov_asset.summary %></p>
          <%= render partial: 'catalog/video/player' %>
          <div class="metadata">
            <%= render partial: "catalog/_metadata_partials/pbcore", :locals => { :document => @document } %>
          </div>
          <div id="comments">
            <%= render partial: 'catalog/facebook_comments' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
