<div class="datastream primary-datastream datastream-audio datastream-audio-mp3">
  <%= render_audio_player(datastream_url(document.fedora_object.datastream["Audio.mp3"]), :controls => true, :poster => document.thumbnail.url(:style => :poster)) %>
</div>

<div class="secondary-datastream-container">
  <h2>Transcript</h2>
  <div class="datastream-actions">
    <%= link_to "Print", print_catalog_path(:id => document.id), :class => "print action", :target => "_blank" %>
    <form action="#" method="GET" class="q_field datastream-action-search">
      <%= text_field_tag :q, nil, :class => "q", :placeholder => "Search Transcript" %>
    <%= image_submit_tag("magnifying-glass.gif", :alt => "Search Transcript", :class => 'submit') %>
  </form>
</div>
<div class="datastream secondary-datastream datastream-transcript datastream-transcript-tei-xml">
  <%= render_tei_transcript(datastream_url(document.fedora_object.datastream["Transcript.tei.xml"], :private => true)) %>
</div>
</div>
<div class="media_fragment_template">
  <%= render :partial => "comments/media_fragment" %>
</div>
