<!-- THIS IS A TEMPLATE FOR A SERIES LEVEL MODLE -->
<% title "#{application_name} - #{display_title @document}" %>
<%# extra_head_content << render_link_rel_alternates %>
<%# extra_head_content << render_document_partial(@document, :meta) %>
<%# extra_head_content << render_document_partial(@document, :opengraph) %>
<%# sidebar_items << render(:partial => 'related_content') %>

<%# this should be in a partial -%>
<div id="document" class="<%= render_document_class %> show_series">
  <div id="doc_<%= @document[:id] %>">
    <div id="document_header" class="row-fluid">
      <div class="document_heading span8">
        <h2><%= @series.title %></h2>
        <%= render :partial => 'addthis/toolbox' %>
      </div>
      <div class="tools span2">
        <%= render partial: 'catalog/user_tools' %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 series_content">
        <div class="document_content">
          <p><%= display_summary @document %></p>

          <%= render :partial => 'series/program_list' %>
          <div style="heigh:10px">&nbsp;</div>
          <%= render :partial => 'series/video_list' %>
          <div style="heigh:10px">&nbsp;</div>
          <%= render :partial => 'series/image_list' %>

          <div class="metadata">
            <%#= 
              begin
                render :partial => "catalog/_metadata_partials/pbcore", :locals => { :document => @document }
              rescue ActionView::MissingTemplate

              end
            %>
          </div>
          <div id="comments">
            <div class="fb-comments" data-href="http://lsopenvault01.wgbh.org" ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
