<!-- THIS IS A TEMPLATE FOR A SERIES LEVEL MODLE -->
<h3><%= @document[:display_title_ssm].first %></h3>
<div class="sep-line"></div>
<p><strong>Summary: </strong><%= @document[:description_ssm].first.html_safe unless @document[:description_ssm].nil? %></p>
<div id="series_content">
  <p><strong>Created: </strong><%= @document[:asset_date_tesim].first unless @document[:asset_date_tesim].nil? %></p>
  <div class="sep-line"></div>
  <!-- show programs -->
  <br />
  <% unless @programs.nil? %>
    <% @programs.each do |prog| %>
      <div class="series-program">
        <h4><%= link_to prog[:display_title_ssm].first.to_s, "/programs/#{prog[:slug].to_s}" %></h4>
        <img src="<%= prog[:thumbnail_url] %>">
      </div>
    <% end %>
  <% end %>
  
</div>