<!-- Openvault Logo and login -->
<div class="row" id="header_top">
  <div class="span4">
	<a href="<%= root_url %>">
    	<div id="ov-logo-home">
			<%= application_name %>
		</div>
	</a>
  </div>
  <div class="span2 pull-right action_links">
    <span class="sign_in">
			<%= link_to "Log In", new_user_session_path %>
		</span>
		<span>&nbsp;|&nbsp;</span>
    <span class="sign_up">
			<%= link_to "Register", new_user_registration_path %>
		</span>
  </div>
</div>
<!-- Logo and login -->
<!-- MLA Logo and search bar -->
<div class="row">
  <div class="span3">
    <div id="mla-logo">Media Library and Archives</div>
  </div>
  <div class="span9">
    <%= render :partial => 'catalog/partials/search_form' %>
  </div>
</div>
<!-- /MLA Logo and search bar -->